button{
  width: 125px;
  display:flex;
  align-items: center;
  gap:3px;
  justify-content: space-around;
  position: fixed;
  top:60px;
  right: 20px;
  z-index: 999;
}
img {
  width: 16px;
}

@media(max-width:578px){
  button{
    right: 8px;
  }
}

